.story-container {
  background-image: url("../../../images/handsup1.jpg");
  background-size: cover;
}
.story h1 {
  font-size: 60px;
}
.story p {
  font-size: 20px;
}
/* .story:hover {
  cursor: pointer;
  background-color: gray;
} */
